/* Navbar */
.navbar-nav {
    width: 166px !important;
}
/* Navbar */

.table-responsive.users {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(8, max-content) repeat(2, 40px);
	grid-gap: 0px;
	overflow-x: auto;
}

.scroll-buttons {
	border:none;
	outline:none;
	background:transparent;
	border-radius: 5px;
}
.scroll-buttons:hover {
	color: white;
	background:#2967EC;
}
.loading {
	max-width: 45px;
}
.uploadload {
	width: 100%;
	box-sizing: border-box;
}
.adm_zag {
	background-color: #2967EC !important;
	color: #FFF;
	display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	padding: 5px 10px;
	border: 1px solid #CCC;
	font-size: 13px;
}
.adm_list_edit_box {
	grid-column: 1/-1;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	padding-bottom: 5px;
	background-color: #EEE;
	padding: 10px;
}
.adm_list_edit_box {
	display: none;
    grid-template-columns: auto 1fr;
    grid-gap: 2px;
}
.edit_input {
	width: 49%;
	font-size: 12px;
}
.adm_list_txt {
	border: 1px solid #CCC;
	font-size: 12px;
	line-height: 1;
	padding: 1px;
	overflow-wrap: break-word;
}
.addnew {
	display: none;
    grid-template-columns: auto 1fr auto 1fr;
    grid-gap: 2px;
}
.adm_add_tit {
	text-align: right;
	padding: 0 5px 0 10px;
}
.adm_add_txt {
	width: 80%;
	font-size: 12px;
}
.add_input {
	width: 80%;
	font-size: 12px;
}
.addnew_ico {
	width: 100%;
	text-align: right;
	font-size: 24px;
}
.right {
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.center {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pad {
	padding: 0 5px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.adm_busc {
	width: 100%;
	grid-column: 1/-1;
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
	margin: 0 0 20px 0;
}
.adm_busc_input {
	width: 300px;
	padding: 5px 10px;
	margin: 0 20px 0 0;
	border: 1px solid #CCC;
}
.adm_busc_bt {
	background-color: #2967EC !important;
	color: white !important;
	border-radius: 5px;
	padding: 5px 10px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border: 1px solid #CCC;
	border-radius: 3px;
	cursor: pointer;
}
.adm_busc_bt:hover {
	background-color: #1f53c6 !important;
}

/* Pager */
.pager {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.pgr_box {
	border: 1px solid #000;
	border-radius: 3px;
	background-color: #CCC;
	color: #FFF;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 3px;
	cursor: pointer;
	font-weight: bold;
}
.pgr_box:hover {
	background-color: #999;
}
/* Pager */

/* Icons */
.icon-size {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.edit-icon-size {
    width: 13px;
    height: 13px;
    cursor: pointer;
}
.nav-icon-size {
    width: 20px;
    height: 20px;
}
.restart_icon {
    width: 20px;
    height: 20px;
	margin-right: 6px;
}
.user_pass_icon {
    width: 14px;
    height: 14px;
    cursor: pointer;
}
/* Icons */

/* Password */
.pass_container {
	display: grid;
	grid-template-columns: 85% 15%;
	align-items: center;
	width: 100%;
}
.pass_text {
	font-size: 12px;
	line-height: 1;
	padding: 1px;
	overflow-wrap: break-word;
	padding-right: 5px;
}
/* Password */

/* Info message */
.info_msg {
	font-size: 14px;
	margin: 10px 0;
	color: #2C318C;
}
.info_msg.err {
	color: #cc0000;
}
/* Info message */

.readonly-checkbox {
    pointer-events: none;
}

/* Login error message */
#mensaje {
    text-align: center;
    margin: 10px 0 15px 0;
    padding: 10px;
    min-height: 20px;
    font-size: 14px;
}

#mensaje p {
    margin: 0;
    padding: 0;
}
